.css-header {
    width: 100vw;
    height: 15vh;
    text-align: center;
    background-color: black;
    color: white;
    overflow: hidden;
}
.css-header img {
    width: 60px;
    height: 60px;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.profile p {
    text-transform: capitalize;
}
.css-nav {
    width: 100vw;
    height: 5vh;
}
.css-main {
    width: 100vw;
    height: 70vh;
}
.css-footer {
    width: 100vw;
    height: 10vh;
}