.css-nav {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    position: fixed;
}
.css-nav button {
    width: 17vw;
    border: none;
    background-color: black;
    overflow: hidden;
}
.css-nav button:hover {
    background-color: white;
    color: black;
}
.css-nav a:link {
    color: white;
}
.css-nav a:hover {
    color: black;
}

.css-header {
    padding-top: 30px;
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: black;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.css-header img {
    width: 40px;
    height: 40px;
}
.ttl {
    text-transform: capitalize;
}

.css-main {
    width: 100vw;
    height: 80vh;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
}
.css-main h2 {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.css-main h3 {
    color: red;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 128, 170);
    width: 100vw;
    height: 80vh;
    background-image: url(/40595137_1033954676783059_9056232267839438848_n.jpg);
    background-size: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home h2 {
    font-size: 40px;
}
.fazendo {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.finalizados {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
}
.titulo {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cursos {
    display: flex;
    justify-content: space-around;
}
.cs {
    border: 1px solid blanchedalmond;
    background-color: rgb(252, 201, 218);
}
.lista-desejos {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.ln {
    padding: 10px;
    display: flex;
}
.clm {
    display: flex;
    flex-direction: column;
}
.break {
    flex-basis: 100%;
    width: 0;
}
.galeria {
    width: 100vw;
    height: 80vh;
}
.ctf img {
    width: 730px;
    height: 480px;
}
.mais-info {
    width: 100vw;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mais-info h5 {
    font-size: 50px;
    color: palevioletred;
}


.css-footer {
    width: 100vw;
    height: 5vh;
    color: white;
    background-color: black;
    text-align: center;
}