.css-header {
    width: 100vw;
    height: 15vh;
}
.css-header img {
    width: 30px;
    height: 30px;
    background-color: red;
}
.css-nav {
    width: 100vw;
    height: 5vh;
}
.css-main {
    width: 100vw;
    height: 70vh;
}
.css-footer {
    width: 100vw;
    height: 10vh;
}